services:
  postgres:
    image: postgres:16
    container_name: keycloak-db
    volumes:
      - ./data/pg:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak"]
      interval: 5s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-server
    command: start-dev
    environment:
      # Initial Admin Credentials
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      
      # Database Configuration
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      
      # NestJS Integration Settings
      KC_HOSTNAME_URL: http://localhost:8080/realms/notification
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HEALTH_ENABLED: "true"      
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
  notification:
    build:
      context: .
      dockerfile: apps/notification/Dockerfile
    
    container_name: notification-server
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      OAUTH2_HOST: keycloak:8080
      ISSUER_URL: http://localhost:8080/realms/notification
    depends_on:
      - keycloak
      - postgres